*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body{
    
    clear: both;
}
 
#gravity{
    min-height: 100%;
    position: relative;
}

/* Header */

#banner img{
    width: 100%;
    height: 200px;
}

nav{
    background-color: #faf9f948;
    width:100%;
    height:80px;
    padding: 20px;
    justify-content: center;
    border-bottom: 1px thin grey !important;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(138,127,138,0.33);
    -moz-box-shadow: 0px 2px 2px 0px rgba(138,127,138,0.33);
    box-shadow: 0px 2px 2px 0px rgba(138,127,138,0.33);
}



nav div ul{
    display: flex;
    justify-content: center;
}

#list-group-item{
    flex: 1;
}

nav div ul li {
    list-style-type: none;
    padding: 10px;
    margin-right: 10px;
    /* float: right; */
}
nav div ul li a{
    text-decoration: none;
    color: #c4c4c4;
    font-weight: 400;
    font-family: Arial;   
}
nav div ul li a:hover{
    color: black;
    text-decoration: none;  
}


/*Index styles*/


#pageDesc{
    margin-top: 50px;
}


.img-link{
    margin: 1em;
    text-decoration: none;
    color: black ;
    padding-bottom: 200px;
}

#img-link #post-item{
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#img-link h3, p{
    color: #000000;
}

#img-link:hover{
    text-decoration: none;
}


#post-item{
    margin-top: 1em;
    border-radius: 10px;
    border:none;
    box-sizing: border-box;
    -webkit-box-shadow: 17px 19px 19px -24px rgba(10,10,10,1);
    -moz-box-shadow: 17px 19px 19px -24px rgba(10,10,10,1);
    box-shadow: 17px 19px 19px -24px rgba(10,10,10,1);
    
}

#img-link #post-item:hover{
    opacity: 0.9;
}


.text-muted{
    font: small;
}

#social-feed{
    margin-top: 120px;
    
}




/* footer style*/

.footer{
    position: relative !important;
    background: #f5f6f6 !important;
    width: 100% !important;
    height: 150px !important;
    bottom: 0;
    top: 20px;
    
}

.footer .copy{
    position: absolute;
    width: 100%;
    height:50px;
    background-color: #ece6e6;
    bottom: 0px;
    text-align: center;
    padding-top: 10px;
}



/* Upload form styles */

.wrapper {
    width: 500px;
    margin-top:50px;
    margin-left: 500px;
}
.wrapper #search-form{
    margin-bottom: 20px;   
}

.wrapper #search-form input{
    width: 345px;
    height: 30;
    padding: 10px;
    border: none;
    background: rgb(158, 196, 240);
    border-radius: 2px;
    justify-content: center;   
}
.wrapper #search-form button{
    width: 60px;
    height: 40px;
    padding: 10px 10px;
    border:none;       
}

.wrapper #upload-form{
    margin-bottom: 100px;  
}

.wrapper #upload-form input{
    width: 400px;
    height: 30px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    background: rgb(158, 196, 240);
    border-radius: 2px;
   
}


.wrapper #upload-form textarea{
    width: 400px;
    height: 200px;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    background: rgb(158, 196, 240);
    border-radius: 2px;
 
}


/* 
contact styles */

.wrapper{
    min-height: 100%;
}